<div class="d-flex justify-center pb-8 pt-8">
    <img src="imgs/logo.png" alt="Dima - Seu Controle Financeiro" width="200px"/>
</div>
<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/lancamentos/historico" Match="NavLinkMatch.All">Histórico</MudNavLink>
    <MudNavLink Href="/categorias" Match="NavLinkMatch.All">Categorias</MudNavLink>
    <MudNavLink Href="/premium" Match="NavLinkMatch.All">Premium</MudNavLink>
    <MudNavLink Href="/sair" Match="NavLinkMatch.All">Sair</MudNavLink>
</MudNavMenu>